root = true

[*]
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
end_of_line = lf

[*.md]
indent_style = space
indent_size = 2

[*.{js,jsx,ts,tsx}]
indent_style = tab
indent_size = 2

[{package,package-lock,tsconfig}.json]
indent_style = space
indent_size = 2
